<body>
  <ion-header class="header">
    MENU
  </ion-header>
  <ion-grid class="up">

   <ion-row class="combos">
     <ion-grid class="comboText">
        
        <ion-row class="rowtext">
         COMBO SOLANO
        </ion-row>

        <ion-row class="rowtext">
          <ion-button>Pedir Ya</ion-button>
        </ion-row>

     </ion-grid>
     <ion-grid class="comboIma">
      <img src="../../assets/Img_Comida_1.png" alt="">
     </ion-grid>
   </ion-row>

   <ion-row class="combos">
    <ion-grid class="comboIma">
      <img src="../../assets/Img_Comida_2.png" alt="">
    </ion-grid>
    <ion-grid class="comboText">
        
      <ion-row class="rowtext">
  PA VOZ Y LA MOZA
      </ion-row>

      <ion-row class="rowtext">
        <ion-button>Pedir Ya</ion-button>
      </ion-row>

   </ion-grid>
   </ion-row>

   <ion-row class="combos">
    <ion-grid class="comboText">
        
      <ion-row class="rowtext">
  PA LA PEOPLE
      </ion-row>

      <ion-row class="rowtext">
        <ion-button>Pedir Ya</ion-button>
      </ion-row>

   </ion-grid>
   <ion-grid class="comboIma">
    <img src="../../assets/Img_Comida_3.png" alt="">
   </ion-grid>
   </ion-row>

  </ion-grid>
  <ion-grid class="down">
    <ion-row class="slogan">
     AHORA PIDE EL DELIVERY DE TU PREFERENCIA!!!
    </ion-row>
    <ion-row class="scrolleo">
      <ion-grid fixed scroll-y="false">

                 
        <ion-segment  scrollable class="segmento" scroll-y="false">
         <img src="../../assets/RAPI.png">
         <img src="../../assets/UBER.png">
         <img src="../../assets/UBER.png">
         <img src="../../assets/UBER.png">
         <img src="../../assets/UBER.png">
        </ion-segment>

       </ion-grid>
    </ion-row>
  </ion-grid>
</body>
