<body>
  <div class="volver">
    <ion-button (click)="IrHome()">VOLVER</ion-button>
  </div>
  <div class="title">
   El Coronel Sandlers te invita a iniciar sesion
  </div>
  <div class="imag">
  <img src="../../assets/Img_Coronel Sanders.png">
  </div>
  <div class="inicio">
    <div class="inicioUp">
    <img src="../../assets/correo.png">
    <ion-item>
      <ion-input  placeholder="Enter your e-mail"></ion-input>
    </ion-item>
    </div>
    <div class="inicioDown">
    <img src="../../assets/contra.png">
    <ion-item>
      <ion-input  placeholder="Enter your password"></ion-input>
    </ion-item>
    </div>
  </div>
  <div class="boton">
    <ion-button (click)="IrPag3()">Iniciar Sesion</ion-button>
  </div>
</body>