<body>
  <div class="header">
    <div class="header_izq">
      <img src="../assets/kfc-1-1.png" alt="">
    </div>
   <div class="header_der">
    <img src="../assets/KFC_logo.svg.png"> 
   </div>
   
  </div>
  <div class="locals">
    <div class="locals_izq">

      <div class="ubica">
           <div class="logoUbica">
            <img src="../../assets/ubi.png">
           </div>
           <div class="textUbica">
           Millenium Plaza
           </div>
      </div>

      <div class="ubica">
        <div class="logoUbica">
          <img src="../../assets/ubi.png">
        </div>
        <div class="textUbica">
         Mall Del Rio
        </div>
       </div>


     <div class="ubica">
    <div class="logoUbica">
      <img src="../../assets/ubi.png">
    </div>
    <div class="textUbica">
        Monay Shopping
    </div>
</div>


<div class="ubica">
  <div class="logoUbica">
    <img src="../../assets/ubi.png">
  </div>
  <div class="textUbica">
      SuperMaxi
  </div>
</div>

    </div>
    <div class="locals_der">
     <img src="../assets/ImgPollo.png" alt="">
    </div>
  </div>
  <div class="nave">
   <div class="nave_izq">
      <div class="botNav">
        Abrir en Google Maps
      </div>
   </div>
   <div class="nave_der">
    <div class="botNav">
      Abrir en Maps
    </div>
   </div>
  </div>
  <div class="eslogan">
  Quieres realizar un pedido a domicilo?
  </div>
  <div class="footer">
    <ion-button (click)="IrPag2()">REGISTRATE</ion-button>
  </div>
</body>

